html, body {
	margin: 0;
	padding: 0;
}

body {
    font-family: sans-serif;
    font-weight: 100;
}

.container {
	margin: 0 auto;
    padding: 0 10px;
    max-width: 1050px;
}

.dropdown {
    position: absolute;
    margin-top: 20px;
    margin-left: 840px;
}

.dropdown-menu {
    list-style-type: none;
    text-align: right;
}

.dropdown-menu li {
    margin-bottom: 5px;
}

.dropdown-menu li a {
    color:black;
    padding: 5px 0;
    text-decoration: none;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 2px;
}

h1 {
    color: black;
    line-height: 100px;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: -20px;
}

.image {
    width: 100%;
    margin-bottom: 15px;
}

.text {
    margin-top: 50px;
}

p {
    text-align: justify;
    font-weight: lighter;
    font-size: 15px;
}

.comment {
    margin-top: 100px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .container {
        max-width: 88%;
    }
    .dropdown {
        margin-left: 77%;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .container {
        max-width: 88%;
    }
    .dropdown {
        margin-left: 67%;
    }
}