{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Julia Zinovieva | Projects</title>
    <link rel="stylesheet" href="{% static "content/info.css" %}">
</head>
<body>
    <div class="container">
        <div class="dropdown">
                <ul class="dropdown-menu">
                    <li><a href="{% url 'projects' %}">projects / проекты</a></li>
                    <li><a href="{% url 'about' %}">about / о себе</a></li>
                    <li><a href="{% url 'contacts' %}">contacts / контакты</a></li>
                </ul>
      </div>
      <div class="main">
        <h1>{{ project.name }}</h1>
        <p class="text">Year / Год: {{ project.year }}</p>
        <p>{{ project.info | linebreaks }}</p>
        <img class="image" src={{ project.main_image.url }}>
        {% for image in project.image_set.all %}
        <img class="image" src={{ image.image.url }}>
        {% endfor %}

      </div>

    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</body>
</html>