{% extends 'index.html' %}

        {% block content %}
        <section>
            <div class="container">
                <div class="contacts">
                    <div class="contacts__photo">
                        {% if about.photo %}
                        <img style="height: 270px" class="contacts__photo-user" src="{{ about.photo.url }}" alt="">
                        {% endif %}
                    </div>
                    <div class="contacts__info">
                        <div class="contacts__info-name">
                            {{ about.name }}
                        </div>
                        <div class="contacts__info-data">
                            {{ about.info | linebreaks }}
                        </div>
                    </div>
                </div>
{#                <div class="intro__buttons" id="editor">#}
{#                    <a class="pdf" href="#" id="cmd">pdf</a>#}
{#                </div>#}
            </div>
        </section>
        {% endblock %}
