{% extends 'index.html' %}

    {% block content %}
    <!-- project2 -->
    <section>
        <div class="container">
            <div class="project__second">
                <div class="project__info" style="margin-bottom: 50px">
                    <img class="project__img" src="{{ title_image.image.url }}" alt="">
                </div>

 <!-- apartments -->
            <div class="apartment" style="margin-bottom: 50px">
                <div class="apartment__photo">
                    <img class="project__img" src="{{ second_image.image.url }}" alt="">
                </div>
                <div class="apartment__info">
                    <div class="apartment__info-title" style="margin-bottom: 20px">
                        {{ project.name }}
                    </div>
                    <div class="apartment__info-text" style="margin-bottom: 50px">
                        {{ project.info |linebreaks }}
                    </div>
                </div>
            </div>
<!-- end of apartments -->

                <div class="project__photo">
                    <div class="project__photo-col">
                        {% for image in images %}
                        <img class="project__image" src="{{ image.image.url }}" alt="">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of project2 -->
    {% endblock %}
