{% extends 'index.html' %}

    {% block content %}
    <!-- worklist -->
    <section>
        <div class="container">
            <div class="experience">
                <div class="experience__col">
                    <div class="experience__title">
                        work experience:
                    </div>
                    {% for experience in work_experience %}
                    <div class="experience__info">
                        <div class="experience__years">
                            {{ experience.years }}
                        </div>
                        <div class="experience__details">
                            {{ experience.description | linebreaks }}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="experience__title" style="margin-top: 40px;">
                        workshops:
                    </div>
                    {%  for workshop in workshops %}
                    <div class="experience__info">
                        <div class="experience__years">
                            {{ workshop.years }}
                        </div>
                        <div class="experience__details">
                            {{ workshop.description | linebreaks }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="experience__col">
                    <div class="experience__title">
                        participated in projects:
                    </div>
                    {% for project in projects %}
                    <div class="experience__info">
                        <div class="experience__years">
                            {{ project.years }}
                        </div>
                        <div class="experience__details">
                            {{ project.description | linebreaks }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
{#            <div class="intro__buttons">#}
{#                <a class="pdf" href="#" download>pdf</a>#}
{#            </div>#}
        </div>
    </section>
    {% endblock %}