{% extends 'index.html' %}

    {% block content %}
    <!-- worklist -->
    <section>
        <div class="container">
            <div class="experience">
                <div class="experience__col">
                    <div class="experience__title">
                        work experience:
                    </div>
                    <div class="experience__info">
                        <div class="experience__years">
                            2016-2018
                        </div>
                        <div class="experience__details">
                            In collaboration with architectural *BURO-0*. Kyiv
                            <br>Worked on projects in all phases of design and construction
                        </div>
                    </div>

                    <div class="experience__info">
                        <div class="experience__years">
                            2012-2016
                        </div>
                        <div class="experience__details">
                            *BCKU*. Kyiv. Architect
                            <br>Worked on projects in all phases of design and construction
                        </div>
                    </div>

                    <div class="experience__info">
                        <div class="experience__years">
                            2009-2012
                        </div>
                        <div class="experience__details">
                            *Archimatika*. Kyiv. Architect
                            <br>Construction drawings/details, project management
                        </div>
                    </div>

                    <div class="experience__info">
                        <div class="experience__years">
                            2008-2009
                        </div>
                        <div class="experience__details">
                            *Baum*. Kyiv. Architect
                            <br>Concept design, sketch design,
                            <br>model building and project visualization
                        </div>
                    </div>
                    <div class="experience__info afterhr">
                        <div class="experience__years">
                            2006-2008
                        </div>
                        <div class="experience__details">
                            "ZOTOV & Co". Kyiv. Architect
                            <br>Designs for residential and retail projects,
                            <br>presentation
                        </div>
                    </div>
                    <div class="experience__info">
                        <div class="experience__years">
                            2003-2005
                        </div>
                        <div class="experience__details">
                            "Kontur-S". Kharkov. Architect
                            <br>Sketch design, model building and project visualization
                        </div>
                    </div>
                    <div class="experience__title" style="margin-top: 40px;">
                        workshops:
                    </div>
                    <div class="experience__info">
                        <div class="experience__years">
                            2016
                        </div>
                        <div class="experience__details">
                            Architectural residence "Pavilion 78". Ukraine. Ivano-Frankivsk
                        </div>
                    </div>

                </div>
                <div class="experience__col">
                    <div class="experience__title">
                        participated in projects:
                    </div>
                    <div class="experience__info">
                        <div class="experience__years">
                            2016-2018
                        </div>
                        <div class="experience__details">
                            In collaboration with architectural *BURO-0*. Kyiv
                            <br>Worked on projects in all phases of design and construction
                        </div>
                    </div>

                    <div class="experience__info">
                        <div class="experience__years">
                            2012-2016
                        </div>
                        <div class="experience__details">
                            *BCKU*. Kyiv. Architect
                            <br>Worked on projects in all phases of design and construction
                        </div>
                    </div>

                    <div class="experience__info">
                        <div class="experience__years">
                            2009-2012
                        </div>
                        <div class="experience__details">
                            *Archimatika*. Kyiv. Architect
                            <br>Construction drawings/details, project management
                        </div>
                    </div>

                    <div class="experience__info">
                        <div class="experience__years">
                            2008-2009
                        </div>
                        <div class="experience__details">
                            *Baum*. Kyiv. Architect
                            <br>Concept design, sketch design,
                            <br>model building and project visualization
                        </div>
                    </div>
                    <div class="experience__info afterhr">
                        <div class="experience__years">
                            2006-2008
                        </div>
                        <div class="experience__details">
                            "ZOTOV & Co". Kyiv. Architect
                            <br>Designs for residential and retail projects,
                            <br>presentation
                        </div>
                    </div>
                    <div class="experience__info">
                        <div class="experience__years">
                            2003-2005
                        </div>
                        <div class="experience__details">
                            "Kontur-S". Kharkov. Architect
                            <br>Sketch design, model building and project visualization
                        </div>
                    </div>
                    <div class="experience__title" style="display: none; margin-top: 40px;">
                        workshops:
                    </div>
                    <div class="experience__info" style="display: none;">
                        <div class="experience__years">
                            2016
                        </div>
                        <div class="experience__details">
                            Architectural residence "Pavilion 78". Ukraine. Ivano-Frankivsk
                        </div>
                    </div>
                </div>
            </div>
{#            <div class="intro__buttons">#}
{#                <a class="pdf" href="#" download>pdf</a>#}
{#            </div>#}
        </div>
    </section>
    {% endblock %}